body {
	margin: 0px auto;
	width: 100%;
	line-height: 1.6;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	background-color: #FFF;
	color: #444;
}

h1,
h2,
h3 {
	line-height: 1.2;
	font-family: 'Open Sans'
}

#name {
	text-align: center;
}

#profile {
	text-align: center;
	border-radius: 100%;
}

#content {
	margin: 40px auto;
	max-width: 650px;
	position: relative;
	z-index: 2;
	background-color: #FFF;
}

#profilediv {
	text-align: center;
}

#particles-js {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
}

a {
	color: #80bfff;
	text-decoration: none;
}

a:hover {
	color: #b380ff;
}

.portfolio {
	max-width: 75%;
	margin: 40px auto;
	width: 100%;
}

@media (max-width: 500px) {
	#particles-js {
		display: none;
	}
}
